.carousel-control-prev,
.carousel-control-next {
    width: 20px;
    right: 10px;
    /* Adjust as needed */
    left: auto;
    /* Prevents left button from staying on the left */
}

.carousel-control-prev {
    top: 0%;
    right:4rem;
}

.carousel-control-next {
    top: 30%;
    right: 4rem;
}